---
---
<main
	class='flex flex-col gap-8 justify-center items-center'
>
	<h1
		class='text-center text-white text-[7rem] font-bold text-pretty leading-[7rem] mx-32'
	>
		Transformación digital con protección total
	</h1>
</main>
