---
import DedSecMaskLogo from '../assets/dedsecNew.svg';
---

<div class="flex justify-between items-center absolute top-4 left-0 right-0">
  <a href="#" class="hover:scale-105 transition-all duration-300 animate-glow">
    <DedSecMaskLogo class="h-10 w-auto text-white stroke-transparent" />
  </a>
  
  <nav class='flex justify-between items-center py-4 bg-white/10 backdrop-blur-sm rounded-full px-6'>
    <ul class='flex gap-8 text-white'>
      <li>
        <a href="#">Inicio</a>
      </li>
      <li>
        <a href="#">Servicios</a>
      </li>
      <li>
        <a href="#">Clientes</a>
      </li>
      <li>
        <a href="#">¿Quiénes somos?</a>
      </li>
      <li class="line-through">
        <a href="#">Blog</a>
      </li>
    </ul>
  </nav>

  <a href="#" class="bg-electric-lime-400 text-neutral-950 rounded-full py-2 px-3 hover:bg-electric-lime-500 transition-all duration-300 active:scale-95 active:bg-electric-lime-600 animate-glow">
    Contáctanos
  </a>
</div>