---
import DedSecNewLogo from '../assets/dedsecNew.svg';
import DedSecOldLogo from '../assets/dedsec.svg';
import DedSecMaskLogo from '../assets/dedsecBadge.svg';
import DedSecFlatLogo from '../assets/dedsecFlat.svg';
---

<div
	class='relative z-10 max-w-screen-xl mx-auto'
>
	<nav class='flex justify-between items-center p-8 absolute top-0 left-0 right-0'>
		<a href="#" class="hover:scale-105 transition-all duration-300">
			<DedSecMaskLogo class="h-10 w-auto fill-white animate-glow" />
		</a>

		<ul class='flex gap-8 text-white'>
			<li>
				<a href="#">Servicios</a>
			</li>
			<li>
				<a href="#">Clientes</a>
			</li>
			<li>
				<a href="#">¿Quiénes somos?</a>
			</li>
			<li class="line-through">
				<a href="#">Blog</a>
			</li>
		</ul>

		<a href="#" class="bg-electric-lime-400 text-neutral-950 rounded-xl py-2 px-3 hover:bg-electric-lime-500 transition-all duration-300 active:scale-95 active:bg-electric-lime-600 animate-glow">
			<span>Contáctanos</span>
		</a>
	</nav>

	<main
		class='flex flex-col gap-8 justify-center items-center'
	>
		<h1
			class='text-center text-white text-[7rem] font-bold text-pretty leading-[7rem] mx-32'
		>
			Transformación digital con protección total
		</h1>

		<!-- <span class="flex gap-4 flex-wrap items-center justify-center">
			<DedSecMaskLogo class='h-40 w-auto fill-white' />
			<DedSecNewLogo class='h-40 w-auto text-white stroke-transparent' />
			<DedSecOldLogo class='h-40 w-auto fill-white' />
			<DedSecFlatLogo class='h-40 w-auto text-white stroke-transparent' />
		</span> -->
		
	</main>
</div>

<style>
	main {
		height: 100%;
		min-height: 100vh;
		display: flex;
		justify-content: center;
	}

	@keyframes glow {
		0%, 100% {
			filter: drop-shadow(0 0 6px rgba(163, 230, 53, 0.5));
		}
		50% {
			filter: drop-shadow(0 0 12px rgba(163, 230, 53, 0.8));
		}
	}

	.animate-glow {
		animation: glow 4s infinite ease-in-out;
	}

	nav ul li a {
		position: relative;
		padding-bottom: 0.25rem;
	}

	nav ul li a::after {
		content: '';
		position: absolute;
		width: 0;
		height: 1px;
		bottom: 0;
		left: 0;
		background: linear-gradient(to right, #d2f95e, #d2f95e);
		background-color: white;
		transition: width 0.3s ease-in-out;
	}

	nav ul li a:hover::after {
		width: 100%;
	}
</style>
